@model IEnumerable<Collection.DAL.Invoice>
@{
    ViewBag.Title = "Index";
}

<div class="add">
    <a href='@Url.Action("Reports", "Home")'>
        <img src="~/Content/images/add2.png" />
        Add Invoice
    </a>
</div>

<div class="panel panel-primary" id="invoiceList">
    <div class="panel-heading">
        Invoices
    </div>   <!--en dof panel-heading -->

    <label>@Html.ActionLink("Add New Customer", "Add", "Invoice")</label>

    <div class="panel-body">
        <table class="table table-bordered" id="invoiceTable">
            <thead>
                <tr>
                    <th>Invoice No</th>
                    <th>Issue Date</th>
                    <th>Collection Date</th>
                    <th>Actual Collection Date</th>
                    <th>Customer</th>
                    <th>Amount</th>
                    <th>Collected</th>
                    <th>Suspended</th>
                    <th>Comment</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>

                        <td>@item.Invoice_No </td>

                        <td> @item.IssueDate</td>

                        <td>@item.CollectDate.ToString()  </td>

                        <td> @item.Act_CollectedDate.GetValueOrDefault() </td>

                        <td>@item.Customer.Name </td>

                        <td> @item.Amount </td>

                        @if (@item.Collected == true)
                        {
                            <td><input type='checkbox' onclick="return false" checked></td>
                        }
                        else
                        {
                            <td><input type='checkbox' onclick="return false"></td>
                        }

                        @if (@item.Suspended == true)
                        {
                            <td><input type='checkbox' onclick="return false" checked></td>
                        }
                        else
                        {
                            <td><input type='checkbox' onclick="return false"></td>
                        }

                        <td><button id='btn1' type='button' class='btn btn-default'>Comment</button></td>

                        <td>
                            <a href='@Url.Action("Edit", "Invoice",new { id = @item.ID })'>
                                <img src='~/Content/images/edit.png' />
                            </a>
                        </td>
                        <td>
                            <label>@Html.ActionLink("Delete", "Delete", "Invoice", new { id = @item.ID }, new { onClick = "return confirm('Are You Sure You want to Delete This');" })</label>
                            <img src='~/Content/images/delete.png' />
                        </td>


                    </tr>
                }
            </tbody>
        </table>
    </div> <!--end of Panel-body -->
</div> <!--end of Panel -->
