@model InvoiceSystem.ViewModel.InvoiceViewModel


@{
    ViewBag.Title = "Index";
    List<Collection.DAL.Comment>
  Clist = ViewData["CommentList"] as List<Collection.DAL.Comment>;
}


@Html.Hidden("InvoiceId")


<h2>Invoice</h2>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="IDateTo" class="input">Issue Date From:</label>
            <input type="date" class="form-control box" id="IDateFrom" name="IDateFrom">

        </div>
        <div class="form-group">
            <label class="input" for="IDateFrom">Issue Date to:</label>
            <input type="date" class="form-control box" id="IDateTo" name="IDateTo">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="input" for="CDateTo">Collection Date From:</label>
            <input type="date" id="CDateTo" class="form-control box" name="CDateFrom">

        </div>
        <div class="form-group">
            <label class="input" for="CDateFrom">Collection Date to:</label>
            <input type="date" id="CDateFrom" class="form-control box" name="CDateTo">

        </div>
    </div>
</div>
<div class="dropdown">
    <button class="btn btn-primary" type="button" data-toggle="dropdown">
        Customers

    </button>

</div>


<select id="customer" value="0">
    <option value="0">Please select</option>
    @foreach (var item in Model.Customers)
    {
        <option value="@item.Name">@item.Name</option>
    }
</select>


<center>
    <button id="btn1" type="button" data-dismiss="modal" class="btn btn-default">Search</button>
</center>



<div class="add">
    <a href='@Url.Action("Reports", "Home")'>
        <img src="~/Content/images/add2.png" />
        Add Invoice
    </a>
</div>

<div class="panel panel-primary" id="invoiceList">
    <div class="panel-heading">
        Invoices
    </div>   <!--en dof panel-heading -->
    <div class="panel-body">
        <table class="table table-bordered" id="invoiceTable">
            <thead>
                <tr>
                    <th>Invoice No</th>
                    <th>Issue Date</th>
                    <th>Collection Date</th>
                    <th>Actual Collection Date</th>
                    <th>Customer</th>
                    <th>Amount</th>
                    <th>Collected</th>
                    <th>Suspended</th>
                    <th>Comment</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div> <!--end of Panel-body -->
</div> <!--end of Panel -->

<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <table class="table table-bordered" id="commentTable">
            <thead>
                <tr>
                    <th>User Name</th>
                    <th>Comment</th>
                    <th>Date</th>
                    <th>Delete</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Clist)
                {
                    <tr>

                        <td>@item.User.UserName</td>
                        <td>@item.Comment1</td>
                        <td>@item.Date</td>
                        <td><label>@Html.ActionLink("Delete", "DeleteComment", "Invoice", new { id = @item.ID }, new { onClick = "return confirm('Are You Sure You want to Delete This'); " })  <img src='~/Content/images/delete.png' /> </label></td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="form-group">
           
            <textarea rows="10" cols="50" id="comm">
             
            </textarea>


        </div>
        <center>
            <button id="#add" onclick="comment()" type="button" data-dismiss="modal" class="btn btn-default">Add Comment</button>
        </center>

    </div>

</div>

@section scripts
{

    <script>

        var modal = document.getElementById('myModal');

        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        $(document).ready(function () {

            $('#btn1').click(function () {

                var val1 = $("#IDateTo").val();
                var val2 = $("#IDateFrom").val();
                var val3 = $("#CDateTo").val();
                var val4 = $("#CDateFrom").val();
                var name = $("#customer").val();

                $.ajax({
                    type: "POST",
                    url: '/Invoice/SearchResult',
                    data: { IssueTo: val1, IssueFrom: val2, ColTo: val3, ColFrom: val4, Customer: name },
                    type: "POST",

                    dataType: 'json',

                    success: function (data) {
                        $('#invoiceTable tbody > tr').remove();
                        $.each(data, function (index, item) {

                            var rows = "<tr>" +
                                "<td>" + item.Invoice_No + "</td>" +
                                "<td>" + item.IssueDate + "</td>" +
                                "<td>" + item.CollectDate + "</td>" +
                                "<td>" + item.Act_CollectedDate + "</td> " +
                                "<td>" + item.Customer.Name + "</td> " +
                                "<td>" + item.Amount + "</td> ";
                            if (item.Collected == true)
                                rows += "<td>" + "<input type='checkbox' onclick='return false' checked>" + "</td>";
                            else {
                                rows += "<td>" + "<input type='checkbox' onclick='return false'>" + "</td>";
                            }
                            if (item.Suspended == true)
                                rows += "<td>" + "<input type='checkbox' onclick='return false' checked>" + "</td>";
                            else {
                                rows += "<td>" + "<input type='checkbox' onclick='return false'>" + "</td>";
                            }


                            rows += "<td>" + "<button id='btn1' type='button' onclick='openBox(" + item.ID + ")' src='/Content/images/edit.png' class='btn btn-default'>" + "Comment" + "</button>" + "</td>" +
                                "<td>" + "<img onclick='edit(" + item.ID + ")' src='/Content/images/edit.png' />" +

                                "</td>" +
                                "<td>" + "<img onclick='del(" + item.ID + ")' src='/Content/images/delete.png'/>" + "</td>";
                            +"</tr>";

                            $('#invoiceTable').append(rows);

                        });

                    },
                    error: function (response) {
                        alert("Invalid, Please enter the data correctly");
                    }

                });
            });
        });

        span.onclick = function () {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

        function edit(x) {


            window.location.href = '/Invoice/Edit/' + x;
        }



        function openBox(a) {
            modal.style.display = "block";
            document.getElementById('InvoiceId').val = a;
            var b = document.getElementById('InvoiceId').val;

        }


        function comment() {

            var comm = $("#comm").val();
            var invoiceid = document.getElementById('InvoiceId').val;
            $.ajax({
                type: "POST",
                url: '/Invoice/addComment',
                data: { InvoiceId: invoiceid, Comment: comm },
                type: "POST",

                dataType: 'json',

                success: function (data) {
                    $('#commentTable tbody > tr').remove();
                    $.each(data, function (index, item) {

                        if (item.Invoice_ID == invoiceid) {
                            var rows = "<tr>" +

                                "<td>" + item.User.UserName + "</td>" +
                                "<td>" + item.Comment1 + "</td>" +
                                "<td>" + item.Date + "</td>" +
                                "<td>" + "<img onclick='del(" + item.ID + ")' src='/Content/images/delete.png'/>" + "</td>" +

                                +"</tr>";

                            $('#commentTable').append(rows);

                        }

                    });
                },
                error: function (response) {
                    alert("Invalid, Please enter the data correctly");
                }

            });
        }

        function del(x) {

            //  alert(x + " Has Been Deleted");
            window.location.href = '/Invoice/Delete/' + x;
        }




    </script>
}
