@model IEnumerable<Collection.DAL.Customer>
@{
    ViewBag.Title = "Index";
}



<div class="add">
    <a href='@Url.Action("Add", "Customer")'>
        <img src="~/Content/images/add2.png" />
        Add Customer
    </a>
</div>


<table class="table table-bordered table-responsive table-hover" id="userdata">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Active </th>
            <th>Employee Number</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>

@foreach (var item in Model)
{
    <tr>
        <td>@item.ID </td>
        <td> @item.Name</td>
       
       @if (@item.Active == true)
       {
        <td><input type='checkbox'  onclick="return false" checked></td>
       }
       else
       {
        <td><input type='checkbox'  onclick="return false"></td>
       }
        <td> @item.Cust_No </td>

        <td>
            <a href='@Url.Action("Edit", "Customer", new { id = @item.ID })'>
                <img src='~/Content/images/edit.png' />
            </a>
        </td>
        <td>
            <label>@Html.ActionLink("Delete", "Delete", "Customer", new { id = @item.ID }, new { onClick = "return confirm('Are You Sure You want to Delete This');" })</label>

                <img src='~/Content/images/delete.png' />
           
        </td>

    </tr>
}
</table>
